
<div id="carouselExampleIndicators" class="carousel slide mx-4">
    <ol class="carousel-indicators" style="list-style: none;">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../assets/img1.jpg" class="d-block w-100" alt="vacation"/>
        <div class="carousel-caption d-none d-md-block" style="color: black;">
            <div class="h-100 w-100" style="background-color: rgba(255, 255, 255, 0.5);">
          <p  class="ms-2 fw-bold text-lg-start">
            Best Spots For A Summer Vacation<br>
            Check out these spots where we provide you with a discount code! Type VACATION when inserting the promo code and behold the surprise!
          </p>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="../assets/img2.webp" class="d-block w-100 h-25" alt="water"/>
        <div class="carousel-caption d-none d-md-block" style="color: black;">
            <div class="h-100 w-100" style="background-color: rgba(255, 255, 255, 0.5);">
                <p  class="ms-2 fw-bold text-lg-start">
            The importance of drinking water regularly
          </p>
        </div>
      </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="../assets/img3.png" class="d-block w-100" alt="set"/>
        <div class="carousel-caption d-none d-md-block" style="color: black;">
            <div class="h-100 w-100" style="background-color: rgba(255, 255, 255, 0.5);">
                <p  class="ms-2 fw-bold text-lg-start">
            Learn the correct way to sit in front of the computer
          </p>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>