<div class="d-flex flex-row">
<div class="card my-2 mx-4 bg-success card-success w-75 rounded-5">
<div class="card-body d-flex flex-row ">
    <div class="d-flex flex-column">   
        <i class="fa-solid fa-list-check " style="color: #ffffff;"></i>
                    <p class="card-body text-white" >Vacation Requests </p>

                    </div>
                    <p class="card-body text-white"style="font-size: 5rem; text-align: right;">10 </p>
                </div>
            </div>
          
          
              <div class="card my-2 mx-4 bg-success card-success w-75 rounded-5 ">
                <div class="card-body d-flex flex-row ">
                  <div class="d-flex flex-column">   
                    <i class="fa-solid fa-list-check" style="color: #ffffff;"></i>
                   <p class="card-body text-white" >Leave Requests </p>
  
                    </div>
                      <p class="card-body text-white"style="font-size: 5rem; text-align: right;">10 </p>
                </div>
              </div>
           </div>
        
