<nav class="navbar navbar-expand-sm bg-success navbar-dark sticky-top">
    <div class="container-fluid d-flex justify-content-between ">
      
      <div class="d-flex ms-4">
        <a class="text-decoration-none me-3" routerLink="/home">
          <span class="text-white">Home</span>
        </a>
        <a class="text-decoration-none me-3" routerLink="/profile">
          <span class="text-white">Profiles</span>
        </a>
        <span class="text-white me-3">Report</span>
        <span class="text-white">Settings</span>
      </div>
  
      
      <div class="d-flex align-items-center">
        <i class="fa-solid fa-bell" style="color: #ffffff;"></i> 
        <i class="fa-solid fa-user mx-4" style="color: #ffffff;"></i>
      </div>
    </div>
  </nav>
