<div class="row">
    <div class="col-sm-6 w-75">
      <div class="card rounded-5 ms-5">
        <div class="card-body">
        <div class="d-flex bd-highlight">
            <img class="rounded-circle bd-highlight w-25 px-5" alt="employee" src="../assets/employee.png"/>
            <div class="bd-highlight">
          <h5 class="card-title">Ahmad Azmi</h5>
          <p class="card-text text-secondary">Junior Accounting Officer </p>
          </div>
          
    <button type="button" class="btn btn-light btn btn-outline-success px-5 bd-highlight mx-5 fs-6" routerLink="/profile">View Profile</button>
    
   
           </div>
           <div class="d-flex flex-nowrap bd-highlight mt-5 ms-4">
            <div class="d-flex p-2 bd-highlight me-5">
                <i class="fa-solid fa-user fa-3x ms-2" style="color: #a3a3a3;"></i>
              <div class="ms-4">           
            <h5 class="card-title">Reporting To:</h5>
          <p class="card-text text-secondary">Salwa Assem </p>
          </div>
          </div>
          <div class=" d-flex order-2 p-2  bd-highlight">
            <i class="fa-solid fa-chart-line fa-3x" style="color: #a3a3a3;"></i>
               <div class="ms-4">
          <h5 class="card-title">Corporate Level:</h5>
          <p class="card-text text-secondary">Level 10</p>
          </div>
           </div>
           </div>
           </div>
      </div>
    </div>